/*this css is from the component that display the current date int the chart containeres...*/
#date_container{
    width:  300px;
    height: auto;
    text-align: right;
    color: var(--atlantic_deep);
    & h3{
        font-size: 1.3em;
        font-weight: 500;
        letter-spacing: 0.03em;
    }
}

/*this query helps us to put the text to left when the screen width is 807px*/
@media screen and (max-width: 807px){
    #date_container{
        text-align: left;
    }
}